@import "./_typed";

//遍历主题map
@mixin themeify {
    @each $theme-name, $theme-map in $themes {
        //!global 把局部变量强升为全局变量
        $theme-map: $theme-map !global;
        //判断html的data-theme的属性值  #{}是sass的插值表达式
        //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin stratThemeify {
    @each $theme-name, $theme-map in $themes {
        //!global 把局部变量强升为全局变量
        $theme-map: $theme-map !global;
        //判断html的data-theme的属性值  #{}是sass的插值表达式
        //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
         & {
            @content;
        }
    }
} 

//获取背景颜色
@mixin global_background-color($color) {
    @include themeify {
        background-color: themed($color) ;
    }
}

//获取字体颜色
@mixin global_color($color) {
    @include themeify {
        color: themed($color) ;
    }
}

//获取边框颜色
@mixin global_border-color($color) {
    @include themeify {
        border-color: themed($color) ;
    }
}

//获取transition
@mixin global_transition($transition) {
    @include themeify {
        transition: themed($transition) ;
    }
}

//获取scrollbar
@mixin global_scrollbar($color) {
    @include stratThemeify {
        background: themed($color) ;
    }
}

