$themes: (
    dark: (
        global-font-size: 16px,
        global-color: #030101,
        global-transition: all 0.42s ease-in,
        global-scrollbar:  #21242d
    ),
    light: (
        global-font-size: 18px,
        global-color: #d7d9e4,
        global-transition: all 0.42s ease-in,
        global-scrollbar: rgba(16,18,27,.4)
    ),
);